#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  padding-top: 3rem;
  text-align: center;
  max-width: 100vw;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  /* margin-bottom: 1rem; */
  box-sizing: border-box;
  max-width: 100vw;
  background-color: rgb(59, 58, 58);
}


.player-container{

}

img {
  max-width: 100%;
  display: block;
}
Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid green; */
  padding: 0 2rem;

}

.home-main{
  /* height: 100vh; */
  padding: 0 2rem;
}

.title {
  /* max-width: 1080px; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 28px;
  font-weight: bold;
  color: #ddd;
  /* display: flex;
  flex-grow: 1; */
  padding: 8px 16px;
  border: 6px solid #ddd;
  border-radius: 16px;
  /* padding: 1.5rem;
  margin: 0 auto; */
}

.nav {
  list-style-type: none;
  display: flex;
  font-size: 28px;
  font-weight: 400;
  /* border: 2px solid orange; */
  
}

.nav-item{
  color:#eee;
  margin-left: 1rem;
}

.searchForm {
  margin-top: 3rem;  
}

.searchForm input[type='text']{
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  text-align: center;  
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  /* padding: 0 0.5rem; */
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 82%;
  min-height: 28px;
  font-size: rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}
input#search{
  background-color: #eee;
  border: none;
}

#submitButton{
  min-width: 54px;
  font-size: 38px;
  color: #eee;
  background-color: rgb(59, 58, 58);
  padding-top: 8px;
  padding-left: 25px;
  /* margin-left: .5rem; */
  border: none

}

.artist-search-ul{
  /* border: 2px solid orangered; */
  max-width: 100%;
  margin-top: 1.66rem;
}

.artist-search-li{
  min-width: 100%;
  display: flex;
  align-items: center;
  color: #eee;
  background-color: rgb(81, 79, 79);
  margin: .66rem 0;
  /* border: 2px solid blue; */
  /* height: 64px; */
}

.artist-search-thumb-container, .top-tracks-thumb-container{
  display: flex;  
  justify-content: center;
  height: 64px;
  width: 64px;  
}

.artist-search-thumb-img, .top-tracks-thumb-img{
  max-width: 100%;
  min-width: 64px;
  margin: 0 auto;
}
.artist-search-name{
  margin-left: 1.5rem;
}

.top-tracks-ul-title-container{
  color: #eee;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.top-tracks-ul-title-container-icon{
  padding: .33rem;
}

/* #heart{
  color: red;
} */
.top-tracks-ul, .collection-list-item-ul{
/* border: 2px solid magenta; */
background-color: #595959;
padding: .66rem;
margin-top: 2.5rem;
border-radius: 16px;
}

.top-tracks-li {
  border-top: 1px solid #717171;
  display: flex;  
  margin-top: .33rem;
}

.track-details{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.2rem;
  color: #9b9b9b;
}

.track-details-track{
  font-size: 14px;
  margin-bottom: .33rem;
  text-align: left;

}
.track-details-artist{
  font-size: x-small;
}

.collection-list-item-ul, .collection-list-item-details-ul{
  color: #eee;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: x-large;
  margin-left: .75rem;
  /* color: rgb(226, 43, 171); */
}

.player{
  background: #C92CA2;
  color: #fff;
  position: sticky;
  top: 0px;
  padding: 1em 0;   
}

.collection-title{
  text-align: left;
  font-size: x-large;
  color: #eee;
  margin-top: 2rem;
}
.collection-list-item-ul{

}
.collection-list-item-li{
  /* border: 2px solid magenta; */
  font-size: 24px;
  text-align: left;
  margin: 1rem 0;
  /* padding-left: 5rem */
}
.collection-list-item-details-li{
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .33rem 1.2rem;
}
.coll-track{
  font-size: 16px;
}
.coll-artist{
  font-size: small;
}
/* .titleBorder {
    box-shadow: 0 4px 5px -2px rgba(145, 145, 145, 0.2);
}